In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("Train_SU63ISt.csv", parse_dates=True)

# #Prepare the data for LSTM model

In [3]:
data.head()

   ID          Datetime  Count
0   0  25-08-2012 00:00      8
1   1  25-08-2012 01:00      2
2   2  25-08-2012 02:00      6
3   3  25-08-2012 03:00      2
4   4  25-08-2012 04:00      2

In [4]:
data.shape

(18288, 3)

In [5]:
data = data[data.ID < 18200]

In [6]:
data.tail()

          ID          Datetime  Count
18195  18195  22-09-2014 03:00    260
18196  18196  22-09-2014 04:00    300
18197  18197  22-09-2014 05:00    210
18198  18198  22-09-2014 06:00    254
18199  18199  22-09-2014 07:00    294

In [7]:
data.drop(['Datetime','ID'], axis=1, inplace=True)

In [8]:
data = np.array(data)

In [9]:
list1 = []
for i in data:
    for j in i:
        list1.append(j)

In [10]:
samples = list()
length = 200
n = len(list1)
for i in range(0, n, length):
    sample = data[i:i+length]
    samples.append(sample)

In [11]:
data = np.array(samples)

In [12]:
print(data.shape)
print(type(data))

(91, 200, 1)
<class 'numpy.ndarray'>

# Save object as a pickle

In [13]:
import pickle

In [14]:
pickle_out = open('data.pickle', 'wb')
pickle.dump(data, pickle_out)
pickle_out.close()