In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import numpy as np
%matplotlib inline

In [18]:
data = pd.read_csv("Train_SU63ISt.csv", parse_dates=True, index_col='Datetime')

In [7]:
data.head()

                     ID  Count
Datetime
2012-08-25 00:00:00   0      8
2012-08-25 01:00:00   1      2
2012-08-25 02:00:00   2      6
2012-08-25 03:00:00   3      2
2012-08-25 04:00:00   4      2

In [24]:
data_cl = data.Count.resample('D').count()